extends ../../components/Layouts/MainLayout/index.pug

block mainLayoutVariables
    //- head meta data
    -
        const pageMetaData = {
            keywords: '',
            description: '',
            title: 'Jogo Casinos',
            faviconSrc: '@img/favicon.ico'
        }

block mainLayoutContent
    //- page content data
    -
        const pageData = {
            section2: {
                textContent: [
                    {
                        text: lang.pt['gp-text-1'],
                        translateId: 'gp-text-1',
                        classNames: 'txt-40 ff-geo fw-500',
                    },
                ],
                slots: [
                    {
                        classNames: 'content-card content-slot',
                        img: '@img/slots/1.png',
                        stickers: [
                            {
                                text: lang.pt['novo'],
                                translateId: 'novo',
                                classNames: 'content-slot-sticker --novo fw-500 ff-geo'
                            },
                            {
                                text: lang.pt['topo'],
                                translateId: 'topo',
                                classNames: 'content-slot-sticker --topo fw-500 ff-geo'
                            }
                        ]
                    },
                    {
                        classNames: 'content-card content-slot',
                        img: '@img/slots/2.png',
                        stickers: [
                            {
                                text: lang.pt['topo'],
                                translateId: 'topo',
                                classNames: 'content-slot-sticker --topo fw-500 ff-geo' 
                            }
                        ]
                    },
                    {
                        classNames: 'content-card content-slot',
                        img: '@img/slots/3.png',
                        stickers: [
                            {
                                text: lang.pt['topo'],
                                translateId: 'topo',
                                classNames: 'content-slot-sticker --topo fw-500 ff-geo'
                            }
                        ]
                    },
                    {
                        classNames: 'content-card content-slot',
                        img: '@img/slots/4.png',
                        stickers: [
                            {
                                text: lang.pt['novo'],
                                translateId: 'novo',
                                classNames: 'content-slot-sticker --novo fw-500 ff-geo'
                            },
                            {
                                text: lang.pt['topo'],
                                translateId: 'topo',
                                classNames: 'content-slot-sticker --topo fw-500 ff-geo'
                            }
                        ]
                    },
                ],
            }
        }

    //- MARK UP
    main(id="games-page") 
        section(class="section --one")
            div(Class="content")
                div(class="content-img")

        section(class="section --two")
            div(Class="content")
                div(class="content-text")
                    h2(class=pageData.section2.textContent[0].classNames data-translate=pageData.section2.textContent[0].translateId)!=pageData.section2.textContent[0].text
                div(class="content-card-wrapper")  
                    for slot in pageData.section2.slots
                        a(href="#" class=slot.classNames)
                            img(src=slot.img)
                            for sticker in slot.stickers 
                                div(class="content-slot-stickers")
                                    div(class=sticker.classNames data-translate=sticker.translateId)!=sticker.text