$mainFontColor: #fff;
$mainColor: #0E0621;
$darkBlue: #101124;
$blue: #3525AF;
$blueHover: #1f1473;

$headerMb: 60rem;
$headerTb: 75rem; 

$smokeBg: url('@img/backgrounds/smoke.png');
$posterBg: url('@img/backgrounds/poster.png');

$arrow: url('@img/icons/arrow.svg');

$mp-s2-1: url("@img/backgrounds/mp-s2-1.png");
$mp-s2-2: url("@img/backgrounds/mp-s2-2.png");
$mp-s2-3: url("@img/backgrounds/mp-s2-3.png");

